<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
      laudantium quod amet sit alias nesciunt. Architecto sint ea eum ad eveniet
      doloribus quasi cum minima veritatis voluptatum ratione, recusandae
      tempore?
    </p>
  </body>
</html>
